<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Créer un compte</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()">

      <mat-card-content>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nom" formControlName="nom" id="nom">
          <mat-error *ngIf="hasError('nom', 'required')">Nom requis</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Prénom" formControlName="prenom" id="prenom">
          <mat-error *ngIf="hasError('prenom', 'required')">Prénom requis</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nom de compte" formControlName="ndc" id="ndc">
          <mat-error *ngIf="hasError('ndc', 'required')">Nom de compte requis</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email" id="email">
          <mat-error *ngIf="hasError('email', 'required')">Email requis</mat-error>
          <mat-error *ngIf="hasError('email', 'pattern')">Le format de l'addresse mail est incorrect</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mot de passe" formControlName="passe" id="passe" type="password" (input)="onPasswordInput()">
          <mat-error *ngIf="hasError('passe', 'required')">Mot de passe requis</mat-error>

        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Confirmation du mot de passe" formControlName="passeConfirm" id="passeConfirm" type="password" (input)="onPasswordInput()">
          <mat-error *ngIf="hasError('passeConfirm', 'required')">Confirmation du mot de passe requis</mat-error>
          <mat-error *ngIf="passeConfirm.invalid && !passeConfirm.hasError('required')">Les mots de passe ne correspondent pas</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Choisir un rôle</mat-label>
          <mat-select [(value)]="selected" formControlName="role">
            <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('role', 'required')">Rôle requis</mat-error>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Créer un compte</button>

    </form>
  </mat-card>
</div>
